# Virtual Environment
.venv/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# PyInstaller
build/
dist/
*.spec

# Icon source files
assets/

# Windows version metadata
version_info.txt

# macOS
.DS_Store

# Logs
*.log